body {
  background-color: #2c3d63;
  padding: 120px 0;
}

.wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3c5182;
  box-shadow: 25px 2px 35px 15px #263457;
}

.ball {
  position: absolute;
  width: calc(5px + 25 * (100vw / 1280));
  height: calc(5px + 25 * (100vw / 1280));
  border-radius: 50%;
  background-color: #e0457f;
  top: 50%;
  animation: ball 3.2s linear infinite;
  transform: translate(0, -50%);
}

.first {
  animation-delay: -.4s;
}

.second {
  animation-delay: -.8s;
}

.third {
  animation-delay: -1.2s;
}

.fourth {
  animation-delay: -1.6s;
}

.fifth {
  animation-delay: -2s;
}

.sixth {
  animation-delay: -2.4s;
}

.seventh {
  animation-delay: -2.8s;
}

.eighth {
  animation-delay: -3.2s;
}

.packman {
  position: absolute;
  background-color: #fcc4c9;
  width: calc(20px + 100 * (100vw / 1280));
  height: calc(20px + 100 * (100vw / 1280));
  border-radius:50%;
  top:50%;
  left: 20%;
  clip-path: polygon(50% 50%, 100% 40%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 60%);
  animation: packman .4s ease-in-out infinite;
  transform: translate(0, -50%);
}

@keyframes packman {

  0% {
    clip-path: polygon(50% 50%, 100% 40%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 60%);
  }

  100% {
    clip-path: polygon(50% 50%, 100% 5%, 100% 0, 0 0, 0 100%, 100% 1000%, 100% 95%);
  }
}
@keyframes ball {

  0% {
    left: 75%;
  }

  100% {
    left: 25%;
  }
}
