
@import "reset.scss";


body {
  padding: 50px 0;
  background-color: #342d50;
  font-family: "Helvetica",sans-serif;
  font-weight: 700;
}

#background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: green;
  transition: .5s ease;
  will-change: transform;

    .items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100px;

        .text_field {
          width: fit-content;
          height: 40px;
          padding: 10px;
          background-color: #342d50;
          border-radius: 3px;

            p {
              font-size: 20px;
              color: white;
              letter-spacing: .04em;
            }

            #text {
              font-size: 20px;
              color: #9fb5e7;
              transition: .5s ease;
              will-change: transform;
            }
        }

        button {
          width: 150px;
          padding: 10px 5px;
          color: #342d50;
          font-size: 18px;
          border-radius: 3px;
          border: 2px solid #342d50;
          background-color: inherit;
          cursor: pointer;
          transition: .5s ease;
          will-change: transform;

            &:hover {
              background-color: #342d50;
              color: white;
            }
        }
    }
}
