*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding: 50px 0;
  background-color: #342d50;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}

#background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: green;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  will-change: transform;
}
#background .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
#background .items .text_field {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  padding: 10px;
  background-color: #342d50;
  border-radius: 3px;
}
#background .items .text_field p {
  font-size: 20px;
  color: white;
  letter-spacing: 0.04em;
}
#background .items .text_field #text {
  font-size: 20px;
  color: #9fb5e7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  will-change: transform;
}
#background .items button {
  width: 150px;
  padding: 10px 5px;
  color: #342d50;
  font-size: 18px;
  border-radius: 3px;
  border: 2px solid #342d50;
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  will-change: transform;
}
#background .items button:hover {
  background-color: #342d50;
  color: white;
}