@import "reset.scss";
@import "vars.scss";
@import "fonts.scss";
@import "mixins.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Objective", "Helvetica", sans-serif;
  font-weight: 400;
  color: $dark-violet;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 37px;
}

header.home_page {
  background: linear-gradient(rgba(74, 153, 211, .2), rgba(74, 153, 211, 0), $white);
  box-shadow: 0 4px 16px rgba(75, 0, 129, .26);
  z-index: 1;
  padding: 45px 0 78px;

  @media (max-width: 480px) {
    padding: 30px 0 50px;
  }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;

        .logo img {

          @media (max-width: 950px) {
            width: 70%;
          }
        }

        nav {
          width: 312px;

          @media (max-width: 950px) {
            width: 230px;
          }

            ul.menu {
              display: flex;
              justify-content: space-between;

                li a {
                  @include adaptive-font-size(10px, 8);

                  line-height: 1.06em;
                  transition: .2s ease;
                  will-change: transform;

                  &:hover {
                    font-weight: 500;
                    color: $blue;
                  }
                }
            }
        }
    }

    .info_container {
      display: grid;
      grid-template-columns: 636px auto;
      column-gap: 32px;
      padding: 71px 0 0;

      @media (max-width: 1279px) {
        grid-template-columns: minmax(50%, 636px) auto;
      }

      @media (max-width: 950px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 30px;
      }

      @media (max-width: 480px) {
        padding: 40px 0 0;
      }

          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: center;

            @media (max-width: 480px) {
              width: 100%;
            }

                h1 {
                  @include adaptive-font-size(18px, 32);

                  font-weight: 500;
                  line-height: 1.4em;
                  color: $violet;
                  letter-spacing: .02em;
                }

                p {
                  @include adaptive-font-size(12px, 8);

                  line-height: 1.8em;
                  color: $violet;
                  padding: 14px 0 60px;

                  @media (max-width: 480px) {
                    padding: 14px 0 25px;
                  }
                }

                .buttons {
                  width: 380px;
                  display: flex;
                  justify-content: space-between;

                  @media (max-width: 480px) {
                    width: 100%;
                  }

                    a {
                      transition: .2s ease;
                      will-change: transform;

                      &:hover {
                        transform: scale(1.05);
                      }

                        img {

                          @media (max-width: 480px) {
                            width: 150px;
                          }
                        }
                    }
                }
          }
    }

    .mockup {

      @media (max-width: 950px) {
        width: 441px;
        align-self: center;
      }

      @media (max-width: 480px) {
        display: none;
      }
    }
}

main.home_page {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    .about_us {
      padding: 162px 0 150px;

      @media (max-width: 480px) {
        padding: 60px 0;
      }

        .inner_container {
          display: grid;
          grid-template-columns: minmax(380px, 465px) 380px;
          grid-auto-rows: auto 206px;
          grid-gap: 113px 105px;
          justify-items: flex-end;

          @media (max-width: 950px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          }

          @media (max-width: 480px) {
            row-gap: 50px;
          }

            h2 {
              @include adaptive-font-size(18px, 18);

              font-weight: 500;
              line-height: 1.28em;
              color: $violet;
              letter-spacing: .05em;
              width: 395px;
              justify-self: flex-start;

              @media (max-width: 480px) {
                width: 100%;
                padding-bottom: 40px;
              }
            }

            .action {
              display: flex;
              flex-direction: column;
              width: 380px;
              height: fit-content;
              padding: 48px;
              background-color: $white;
              box-shadow: 5px 20px 50px rgba(74, 153, 211, .2);
              border-radius: 10px;
              z-index: 1;
              grid-row: span 2;

              @media (max-width: 480px) {
                width: 100%;
                padding: 25px;
              }

                img {
                  align-self: center;

                  @media (max-width: 480px) {
                    width: 70%;
                  }
                }

                h5 {
                  @include adaptive-font-size(12px, 8);

                  font-weight: 500;
                  line-height: 1.5em;
                  letter-spacing: .02em;
                  padding: 56px 0 0 0;
                }

                p {
                  @include adaptive-font-size(10px, 8);

                  line-height: 1.4em;
                  opacity: .6;
                  padding: 16px 0 52px;
                }

                a {
                  @include adaptive-font-size(8px, 6);

                  font-weight: 500;
                  line-height: 2.14em;
                  color: $blue;
                  letter-spacing: .05em;
                  transition: .5s ease;
                  will-change: transform;
                  position: relative;

                  &:hover {
                    text-decoration: underline;
                  }

                  &::after {
                    content: "";
                    width: calc(10px + 6 * (100vw / 1440));
                    height: calc(10px + 6 * (100vw / 1440));
                    background-image: url("../img/icons/vector_arrow.png");
                    background-size: cover;
                    position: absolute;
                    top: 50%;
                    left: 107px;
                    transform: translate(0, -50%);
                  }
                }
            }
            #send img {
              margin-top: -76px;

              @media (max-width: 480px) {
                margin-top: -36px;
              }
            }
        }
    }
    .about_us_decor {
      background-image: url("../img/decorations/group_dots.png"), url("../img/decorations/group_dots.png"),  url("../img/decorations/group_dots.png"), url("../img/decorations/1.png"), url("../img/decorations/2.png");
      background-repeat: no-repeat;
      background-position: center left 225px, top 85px right 167px, bottom 62px right 172px, top right, bottom left;

      @media (max-width: 1279px) {
        background-image: none;
      }
    }

    .how_it_works {
      padding: 95px 0;
      background-color: rgba(74, 153, 211, .1);

      @media (max-width: 480px) {
        padding: 30px 0;
      }

        h3 {
          @include adaptive-font-size(18px, 8);

          font-weight: 700;
          line-height: 1.04em;
          color: $blue;
          text-align: center;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media (max-width: 950px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          }

            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              width: calc(100% / 3);
              padding: 92px 0;

              @media (max-width: 950px) {
                width: 100%;
              }

              @media (max-width: 480px) {
                padding: 40px 0 0;
              }

                h6 {
                  @include adaptive-font-size(12px, 6);

                  font-weight: 500;
                  line-height: 1.06em;
                  padding: 33px 0 10px;

                  @media (max-width: 480px) {
                    padding: 25px 0 10px;
                  }
                }

                p {
                  @include adaptive-font-size(10px, 8);

                  line-height: 1.4em;
                  text-align: center;
                }

                img {
                  @media (max-width: 480px) {
                    width: 15%;
                  }
                }
            }
        }
    }

    .feedback {
      position: relative;
      padding: 150px 0 59px;

      @media (max-width: 480px) {
        padding: 50px 0;
      }

        .background {
          position: absolute;
          left: 0;
          bottom: 99px;
          width: 677px;
          height: 400px;
          background-color: $blue;
          opacity: .1;
          border-radius: 0 6px 6px 0;

          @media (max-width: 1279px) {
            width: 100%;
          }

          @media (max-width: 480px) {
            bottom: 75px;
            height: 350px;
          }
        }

        h3 {
          @include adaptive-font-size(18px, 8);

          font-weight: 700;
          line-height: 1.04em;
          padding: 0 0 11px 0;
          text-align: center;
        }

        .slider_body {
          position: relative;
          height: 559px;

          @media (max-width: 480px) {
            height: 425px;
          }

            .container_slider {
              overflow: hidden;

                input {
                  display: none;
                }

                #feedback_one:checked ~ .slider {
                  transform: translate(0);
                }

                #feedback_two:checked ~ .slider {
                  transform: translate(-50%);
                }

                .switcher {
                  display: flex;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  z-index: 1;

                    label {
                      @include adaptive-font-size(16px, 12);

                      width: 80px;
                      background-color: $blue;
                      color: $white;
                      border-radius: 4px 0 0 4px;
                      text-align: center;
                      padding: 26px 0;
                      cursor: pointer;
                      transition: .5s ease;
                      will-change: transform;

                      &:hover {
                        transform: scale(1.05);
                      }

                      @media (max-width: 480px) {
                        width: 50px;
                        padding: 15px 0;
                      }
                    }

                    label.next {
                      background-color: $white;
                      color: $blue;
                      border-radius: 0 4px 4px 0;
                      box-shadow: 0 4px 16px rgba(0, 0, 0, .08);
                      transition: .5s ease;
                      will-change: transform;
                    }
                }

                .slider {
                  display: flex;
                  width: 200%;
                  height: 519px;
                  transition: .7s ease;
                  will-change: transform;

                  @media (max-width: 480px) {
                    height: 400px;
                  }

                    .slider_item {
                      display: flex;
                      justify-content: space-between;
                      width: 50%;
                      position: relative;

                        > img {
                          @media (max-width: 950px) {
                            display: none;
                          }
                        }

                        blockquote {
                          display: flex;
                          flex-direction: column;
                          justify-content: space-between;
                          width: 418px;
                          min-height: 245px;
                          align-self: flex-end;
                          padding-bottom: 77px;

                            .vector {
                              width: 50px;
                              transform: rotateY(0);

                              @media (max-width: 480px) {
                                width: 30px;
                              }
                            }

                            p {
                              @include adaptive-font-size(10px, 6);

                              line-height: 1.625em;
                              opacity: .5;
                              padding: 40px 0;
                            }

                            h6 {
                              @include adaptive-font-size(12px, 6);

                              font-weight: 500;
                              line-height: 1.06em;
                            }
                        }
                    }

                    .second img {
                      transform: rotateY(180deg);
                    }
                }
            }
        }
    }
    .feedback_decor {
      background-image: url("../img/decorations/group_dots.png");
      background-repeat: no-repeat;
      background-position: bottom 260px right;

      @media (max-width: 1279px) {
        background-image: none;
      }
    }
    .download {
      padding: 59px 0 120px;

      @media (max-width: 480px) {
        padding: 10px 0 60px;
      }

        .inner_container {
          display: grid;
          grid-template-columns: 444px auto;
          column-gap: 78px;
          direction: rtl;

          @media (max-width: 1279px) {
            grid-template-columns: minmax(44%, 444px) auto;
            column-gap: 15px;
          }

          @media (max-width: 950px) {
            display: flex;
            align-items: center;
          }

            .mockup {

              @media (max-width: 950px) {
                display: none;
              }
            }

            .download_info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-self: center;
              order: -1;
              direction: ltr;

              @media (max-width: 480px) {
                width: 100%;
              }

                h4 {
                  @include adaptive-font-size(17px, 8);

                  font-weight: 700;
                  line-height: 1.05em;
                  text-align: center;
                }

                p {
                  @include adaptive-font-size(10px, 6);

                  line-height: 1.5em;
                  opacity: .5;
                  text-align: center;
                  padding: 16px 0 60px;

                  @media (max-width: 480px) {
                    padding: 16px 0 40px;
                  }
                }

                .download_buttons {
                  width: 366px;
                  display: flex;
                  justify-content: space-between;
                  margin: 0 auto;

                  @media (max-width: 480px) {
                    width: 100%;
                  }

                    a {
                      transition: .5s ease;
                      will-change: transform;

                      &:hover {
                        transform: scale(1.05);
                      }
                    }

                    img {

                      @media (max-width: 480px) {
                        width: 100px;
                      }
                    }
                }
            }
        }
    }
    .download_decor {
      background-image: url("../img/decorations/3.png"), url("../img/decorations/4.png");
      background-repeat: no-repeat;
      background-position: bottom -49px left, bottom -49px right;

      @media (max-width: 1279px) {
        background-image: none;
      }
    }
}

footer.home_page {
  background-color: $blue;
  z-index: 1;

    .container {
      max-width: 1250px;
      padding: 0 29px;
    }
        .inner_container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          column-gap: 20px;
          padding: 56px 0 29px;

          @media (max-width: 480px) {
            padding: 30px 0;
          }

            .logo {
              width: 109px;
              padding-bottom: 30px;

              img {
                @media (max-width: 480px) {
                  width: 50%;
                }
              }
            }

            nav {
              display: flex;
              justify-content: space-between;
              width: 457px;

              @media (max-width: 1279px) {
                flex-grow: .5;
              }

              @media (max-width: 480px) {
                display: none;
              }

                ul li {
                  padding: 0 0 18px;

                    h6 {
                      @include adaptive-font-size(12px, 6);

                      font-weight: 500;
                      line-height: 1.06em;
                      color: $white;
                      width: fit-content;
                      border-bottom: 2px solid $white;
                    }

                    a {
                      @include adaptive-font-size(10px, 4);

                      line-height: 1.07em;
                      color: $white;
                      transition: .5s ease;
                      will-change: transform;

                      &:hover {
                        text-decoration: underline;
                      }
                    }
                }
            }

            .subscription {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 394px;
              height: fit-content;
              gap: 20px;

              @media (max-width: 1279px) {
                flex-grow: .5;
              }

              @media (max-width: 480px) {
                height: 100%;
              }

                p {
                  @include adaptive-font-size(10px, 8);

                  line-height: 1.4em;
                  color: $white;
                  padding: 0 0 20px;
                }

                form {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  height: 50px;

                  @media (max-width: 480px) {
                    width: 100%;
                    height: fit-content;
                    row-gap: 15px;
                  }

                    input {
                      &[type=email] {
                        width: 268px;
                        background-color: $white;
                        padding: 18px 158px 18px 10px;
                        border-radius: 3px;

                        @media (max-width: 1279px) {
                          flex-grow: .8;
                        }

                        &::placeholder {
                          @include adaptive-font-size(10px, 4);

                          line-height: 1em;
                          color: $black;
                          opacity: .5;
                        }

                        &:invalid {
                          border: 1px solid red;
                        }

                        @media (max-width: 480px) {
                          width: 100%;
                          height: 40px;
                        }
                      }

                      &[type=submit] {
                        @include adaptive-font-size(8px, 8);

                        font-weight: 700;
                        line-height: 1.0625em;
                        color: $blue;
                        letter-spacing: .03em;
                        width: 116px;
                        text-align: center;
                        background-color: $white;
                        border-radius: 3px;
                        padding: 16px;
                        cursor: pointer;
                        transition: .5s ease;
                        will-change: transform;

                        &:hover {
                          text-decoration: underline;
                        }

                        @media (max-width: 480px) {
                          width: 100%;
                          height: 40px;
                        }
                      }
                    }
                }
            }
        }
    .social_media_contacts {
      border-top: 1px solid $white;

        .inner_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 40px;
          padding: 10px 0;

          @media (max-width: 480px) {
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 10px;
          }

            p {
              @include adaptive-font-size(8px, 2);

              font-weight: 700;
              line-height: 1.1em;
              color: $white;
            }

            .follow_us {
              display: flex;
              justify-content: space-between;
              width: 133px;

                img {
                  transition: .5s ease;
                  will-change: transform;

                  &:hover {
                    transform: scale(1.15);
                  }
                }
            }
        }
    }
}
