:root {
  --color: green;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: #3c6674;
  padding: 25px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e9e9e9;
  border-bottom: 2px solid #c9c9c9;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: "Oswald";
  font-size: 32px;
  color: #8d8e8e;
}

form {
  border-radius: 0 0 10px 10px;
  background-color: #f3f3f3;
  margin: 0;
}

.container {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 30px;
}

.form-item {
  width: 48%;
  padding: 10px 0;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  opacity: 75%;
}

input[type=date]:invalid:not(:focus):not(:placeholder-shown) {
  border: 2px solid lightgrey;
}

input:required:valid {
  border-color: lightgrey;
  opacity: 75%;
}

input:invalid:not(:focus) {
  border-color: red;
}

input:not(:focus):invalid:placeholder-shown {
  border-color: lightgrey;
  opacity: 75%;
}

label {
  color: var(--color);
}

.email, .message {
  width: 100%;
}

p {
  margin: 0;
  color: var(--color);
}

.radio, .check {
  margin: 2px;
  color: grey;
  cursor: pointer;
}

select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  opacity: 75%;
}

input[type=range] {
  width: 75%;
  margin: 20px 0;
}

output {
  background-color: green;
  color: white;
  font-size: 18px;
  border-radius: 7px;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
}

input[type=file] {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  opacity: 75%;
  padding: 5px 10px;
  resize: none;
}

.footer {
  height: 60px;
  padding: 20px 50px;
  text-align: right;
  background-color: #e9e9e9;
  border-top: 2px solid #c9c9c9;
  border-radius: 0 0 10px 10px;
}

input[type=submit] {
  padding: 20px 50px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 18px;
  background-color: green;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: darkgreen;
}

input[type=submit]:disabled {
  background-color: grey;
}

span {
  font-size: 14px;
  color: red;
}

.inactive {
  display: none;
}

@media (max-width: 1024px) {

  .container {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
  }

  .form-item {
    width: 100%;
    padding: 10px 0;
  }

  .footer {
    padding: 10px 20px;
  }

  input[type=submit] {
    width: 100%;
  }
}
