font-family: "Figtree";
font-family: "Dancing Script";

body {
  padding: 0;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "navigation main related_links"
    "footer footer footer";
  grid-template-columns: minmax(240px, max-content) auto minmax(240px, max-content);
  grid-template-rows: min-content auto min-content;
}

header {
  grid-area: header;
  background-color: #415a80;
  padding: 30px;
}

nav {
  grid-area: navigation;
  background-color: #a5d4dc;
  padding: 25px;
}

section {
  grid-area: main;
  background-color: #f2f4f8;
  padding:20px;
}

aside {
  grid-area: related_links;
  background-color: #d7e2e9;
  padding: 25px;
}

footer {
  grid-area: footer;
  background-color: #415a80;
  padding: 30px;
}

h1 {
  font-family: "Figtree";
  font-size: calc(32px + 18 * (100vw / 1280));
  color: #404040;
  text-align: left;
}

h2 {
  font-family: "Figtree";
  font-size: calc(28px + 14 * (100vw / 1280));
  color: #f2f4f8;
  text-align: center;
}

h3 {
  font-family: "Figtree";
  font-size: calc(20px + 10 * (100vw /1280));
  color: #404040;
  text-align: left;
}

p {
  font-family: "Dancing Script";
  font-size: calc(16px + 8 * (100vw /1280));
  color: #404040;
  margin: 10px 0;
}

@media (max-width:768px) {

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
    "navigation"
    "main"
    "related_links"
    "footer";
  }

  nav, aside, section {
    padding: 15px;
  }

  h1 {
   font-size: 32px;
  }

  h2 {
   font-size: 28px;
  }

  h3 {
   font-size: 20px;
  }

  p {
   font-size: 16px;
  }
}
