font-family: "Figtree";
font-family: "Dancing Script";

body {
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header, footer {
  background-color: #415a80;
  padding: 30px;
}

main {
  display: flex;
  flex-direction: row;
  min-height: fit-content;
  flex: 1;
}

nav, aside {
  background-color: #a5d4dc;
  padding: 25px;
  min-width: 240px;
}

aside {
  background-color: #d7e2e9;
}

section {
  background-color: #f2f4f8;
  padding: 20px;
}

h1 {
  font-family: "Figtree";
  font-size: calc(32px + 18 * (100vw / 1280));
  color: #404040;
  text-align: left;
}

h2 {
  font-family: "Figtree";
  font-size: calc(28px + 14 * (100vw / 1280));
  color: #f2f4f8;
  text-align: center;
}

h3 {
  font-family: "Figtree";
  font-size: calc(20px + 10 * (100vw /1280));
  color: #404040;
  text-align: left;
}

p {
  font-family: "Dancing Script";
  font-size: calc(16px + 8 * (100vw /1280));
  color: #404040;
  text-align: left;
  margin: 10px 0;
}

@media (max-width:768px) {
  .wrapper{
    flex-direction: column;
    justify-content: space-between;
  }

  main {
    flex-direction: column;
  }

  nav, aside {
    padding: 15px;
  }

  section {
    padding: 15px;
    flex: 1 1 auto;
  }

  h1 {
   font-size: 32px;
  }

  h2 {
   font-size: 28px;
  }

  h3 {
   font-size: 20px;
  }

  p {
   font-size: 16px;
  }
}
