font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
body{
  background-color: #D4D4D4;
  padding: 25px;
}
.container{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
h1{
  font: 'Roboto', sans-serif;
  color: #404040;
  /*font-size: 140px;*/
  text-align: center;
  margin: 35px 0;
  font-size: calc(40px + 100 * (100vw / 1280));
}
h2{
  font: 'Roboto', sans-serif;
  color: #404040;
  /*font-size: 96px;*/
  text-align: center;
  margin: 35px 0;
  font-size: calc(36px + 60 * (100vw / 1280));
}
h3{
  font: 'Roboto', sans-serif;
  color: #404040;
  /*font-size: 56px;*/
  text-align: center;
  margin: 35px 0;
  font-size: calc(24px + 32 * (100vw / 1280));
}
.description {
  border: 2px solid #BEBEBE;
  border-radius: 10px;
  padding: 5px 5px;
  text-align: left;
  margin: 25px 0;
}
figure{
  text-align: center;
  border: 2px solid #BEBEBE;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}
img{
  border-radius: 50%;
  margin: 5px 0 10px;
  width: 65%;
}
figcaption{
  background: #BEBEBE;
  text-align: center;
  /*font-size: 20px;*/
  padding: 15px;
  margin: 0;
  font-size: calc(12px + 8 * (100vw / 1280));
}
.list h3{
  text-align: left;
}
p, li {
  font: 'Oswald', sans-serif;
  color: #404040;
  /*font-size: 20px;*/
  font-size: calc(16px + 4 * (100vw / 1280));
}
.to_know_more {
  text-align: center;
  /*font-size: 20px;*/
  font-size: calc(12px + 8 * (100vw / 1280));
}
a{
  font-family:'Oswald', sans-serif blue;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
@media (max-width: 320px) {
  h1{
    font-size: 40px;
    margin: 15px 0 10px;
  }
  h2{
    font-size: 36px;
    margin: 10px 0;
  }
  h3{
    font-size: 28px;
    margin: 10px 0;
  }
  .description{
    margin: 15px 0;
  }
  img{
    width: 65%;
  }
  figcaption{
    padding: 5px;
  }
  p, li{
    font-size: 16px;
  }
  .list h3{
    text-align: center;
  }
  .to_know_more{
    font-size: 12px;
  }
}
@media (orientation:landscape) and (max-height:320px){
  h1{
   font-size: 56px;
    margin: 15px 0 10px;
  }
  h2{
    font-size: 48px;
    margin:10px 0;
  }
  h3{
    font-size: 36px;
    margin: 10px 0;
  }
}
