$colorWhite: #ece5e2;
$colorRed: #760000;
$colorBrown: #251f1c;
$fontFamilyHeadings: "Frank Ruhl Libre";
$fontFamilyText: "Roboto";

body{
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "navigation section"
  "footer footer";
  grid-template-columns: 30% auto ;
  grid-template-rows: 6% auto 6%;
  width: 100%;
  min-height: 100vh;

    header {
      grid-area: header;
      background-color: $colorRed;
    }

    footer {
      grid-area: footer;
      position: sticky;
      bottom: 0;
      left: 0;
      background-color: $colorRed;
    }

    nav {
      grid-area: navigation;
      height: 100vh;
      overflow: scroll;
      padding-bottom: 30px;
      background-color: $colorBrown;
      border-right: 2px solid rgba(118, 0, 0, .5);
    }

    section {
      grid-area: section;
      height: 100vh;
      overflow: scroll;
      padding-bottom: 35px;
      background-color: $colorBrown;
    }

    h1 {
      font-family: $fontFamilyHeadings ;
      color: $colorWhite;
      font-size: calc(20px + 14 * (100vw / 1280));
      margin: 20px;
    }

    h2 {
      font-family: $fontFamilyHeadings;
      color: $colorWhite;
      font-size: calc(18px + 12 * (100vw / 1280));
      margin: 10px 20px;

        &:target {
          background-color: #760000;
          width: fit-content;
          padding: 0 50px;
          border-radius: 2px;
        }
    }

    h3 {
      font-family: $fontFamilyText;
      color: $colorWhite;
      font-size: calc(16px + 8 * (100vw / 1280));
      border-top: 1px solid rgba(118, 0, 0, .5);
      padding: 10px  25px;

        &:hover {
          background-color: $colorRed;
          cursor: pointer;
        }
    }

    p {
      font-family: $fontFamilyText;
      color: $colorWhite;
      font-size: calc(12px + 4 * (100vw / 1280));
      letter-spacing: .05em;
      line-height: 1.7em;
      margin: 0 20px;
    }
}
