*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alkatra", "Barlow", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ece5e2;
}

.wrapper {
  background-color: #1a1614;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  font: 700 56px/1.5em "Barlow";
  letter-spacing: 0.03em;
  color: #ece5e2;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .container h1 {
    font-size: 40px;
  }
}
.container h1 span {
  font: 70px "Alkatra";
  color: #ece5e2;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .container h1 span {
    font-size: 50px;
  }
}
.container h2 {
  text-align: center;
  font: 40px/1.5em "Barlow";
  letter-spacing: 0.03em;
  color: #ece5e2;
  text-transform: uppercase;
  padding: 20px 0;
}
.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .container nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 15px auto;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
  }
}
.container nav ul button {
  background-color: #ece5e2;
  color: #1a1614;
  font-size: calc(8px + 0.625vw);
  border-radius: 3px;
  padding: 8px 12px;
  margin: 0 15px;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  will-change: transform;
}
.container nav ul button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.container nav ul .active {
  background-color: #afa26e;
  color: #ece5e2;
}
.container .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
  padding: 100px 0;
}
@media (max-width: 1023px) {
  .container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.container .menu .menu_item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img title" "img description";
  -ms-grid-columns: 160px 20px auto;
  grid-template-columns: 160px auto;
  -ms-grid-rows: 35px 86px;
  grid-template-rows: 35px 86px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  border-radius: 2px;
}
@media (max-width: 520px) {
  .container .menu .menu_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.container .menu .menu_item img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  border: 2px solid #afa26e;
  border-radius: 7px;
}
.container .menu .menu_item .item_title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  border-bottom: 1px solid #afa26e;
  height: 35px;
}
@media (max-width: 520px) {
  .container .menu .menu_item .item_title {
    padding: 30px 0;
  }
}
.container .menu .menu_item .item_title h3, .container .menu .menu_item .item_title .price {
  font: 700 20px "Alkatra";
  letter-spacing: 0.03em;
  color: #ece5e2;
}
@media (max-width: 520px) {
  .container .menu .menu_item .item_title h3, .container .menu .menu_item .item_title .price {
    font-size: 18px;
  }
}
.container .menu .menu_item .description {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: description;
  padding: 10px 3px 3px 3px;
  font: 18px/1.1em "Barlow";
  color: #ece5e2;
  letter-spacing: 0.03em;
}
@media (max-width: 520px) {
  .container .menu .menu_item .description {
    font-size: 16px;
  }
}