@import "reset.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Alkatra', 'Barlow', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #ece5e2;
}
.wrapper {
  background-color: #1a1614;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;

    h1 {
      text-align: center;
      font: 700 56px/1.5em 'Barlow';
      letter-spacing: .03em;
      color: #ece5e2;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 40px;
      }

        span {
          font: 70px 'Alkatra';
          color: #ece5e2;
          text-transform: uppercase;

          @media (max-width: 767px) {
            font-size: 50px;
          }
        }
    }

    h2 {
      text-align: center;
      font: 40px/1.5em 'Barlow';
      letter-spacing: .03em;
      color: #ece5e2;
      text-transform: uppercase;
      padding: 20px 0;
    }

    nav {
      display: flex;
      justify-content: center;
      padding: 20px 0;

        ul {
          display: flex;
          justify-content: space-between;

          @media (max-width: 767px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: 15px;
          }

            button{
              background-color: #ece5e2;
              color: #1a1614;
              font-size: calc(8px + 8 * (100vw/ 1280));
              border-radius: 3px;
              padding: 8px 12px;
              margin: 0 15px;
              border: none;
              transition: .3s ease;
              will-change: transform;

              &:hover {
                transform: scale(1.1);
                cursor: pointer;
              }
            }
            .active {
              background-color: #afa26e;
              color: #ece5e2;
            }
        }
    }

    .menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 70px;
      padding: 100px 0;

      @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

        .menu_item {
          display: grid;
          grid-template-areas:
          "img title"
          "img description";
          grid-template-columns: 160px auto;
          grid-template-rows: 35px 86px;
          column-gap: 20px;
          border-radius: 2px;

          @media (max-width: 520px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

            img {
              grid-area: img;
              border: 2px solid #afa26e;
              border-radius: 7px;
            }

            .item_title {
              grid-area: title;
              display: flex;
              justify-content: space-between;
              padding: 3px;
              border-bottom: 1px solid #afa26e;
              height: 35px;

              @media (max-width: 520px) {
                padding: 30px 0;
              }
                h3, .price {
                  font: 700 20px 'Alkatra';
                  letter-spacing: .03em;
                  color: #ece5e2;

                  @media (max-width: 520px) {
                    font-size: 18px;
                  }
                }
            }

            .description {
              grid-area: description;
              padding: 10px 3px 3px 3px;
              font: 18px/1.1em 'Barlow';
              color: #ece5e2;
              letter-spacing: .03em;

              @media (max-width: 520px) {
                font-size: 16px;
              }
            }
        }
    }
}
